.login{
    width: 360px;
    margin: 15rem auto auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    padding: 3rem;
}

.btn--signin:hover{
    background-color: var(--primary-hover-color);
}

.btn--signin{
    padding: 1rem 3rem;
    background-color: var(--primary-color);
    margin-top: 3rem;
    color: var(--white-color);
}